.claro{
    background-color: antiquewhite;
}

.barra_l{
    background-color: orange;
}

.menu{
    background-color: brown;
    color: aliceblue;
}

.fip{
    background-color: aqua;
}

.fp{
    background-color: red;
    color: aliceblue;
}